# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock
pnpm-lock.yaml

# Environment variables
.env
.env.*

# Logs
logs/
*.log

# OS files
.DS_Store
Thumbs.db

# Build output
dist/
build/
tmp/
temp/

# Express-specific
coverage/
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# database files
*.sqlite
*.db